{% extends "dash/dashboard_base.html" %}

{% block content %}
      <!-- Schema forms -->

      <br />
      <h3>Schema</h3>
      <div class="row">
        <div class="col-md">
          <strong>API Key:</strong> <code>{{ api_key }}</code>
        </div>
      </div>
      <br />
      <div class="row">

        <div class="col-md-6">
          <form method="POST">
              <div class="form-group">
                <label for="inputSchema"><strong>Write down your schema (JSON):</strong></label>
                <textarea class="form-control" id="inputSchema" name="inputSchema" rows="20" style="font-family: monospace; font-size: 10pt;">{{ my_schema }}</textarea>
              </div>
              {% if get_flashed_messages() and get_flashed_messages()[0] == 'schemaUpdateFail' or get_flashed_messages()[0] == 'schemaUpdateFormatFail' %}
              <div class="alert alert-danger" role="alert" id="schemaUpdateFailure">
                ERROR: Schema could not be updated! [Code: {{ get_flashed_messages()[0] }}]
              </div>
              {% endif %}

              {% if get_flashed_messages() and get_flashed_messages()[0] == 'schemaUpdateSuccess' %}
              <div class="alert alert-success" role="alert" id="schemaUpdateSuccess">
                Schema updated successfully!
              </div>
              {% endif %}
              <button type="submit" class="btn btn-block btn-primary">Submit Schema</button>
          </form>
        </div>

        <div class="col-md-6">
          <strong>Instructions to send a request</strong>
          <p>Say you have the following schema: </p>

          <div>
          <pre>
            {
                "field_1": {
                  "name": "temperature",
                  "type": "numeric"
                },
                "field_2": {
                  "name": "pressure",
                  "type": "numeric"
                },
                "field_3": {
                  "name": "gps",
                  "type": "location"
                }
            }
          </pre>
          </div>

          <p>Then you should make a POST HTTP request to the following endpoint: </p>
          <pre>POST http://&lt;thingsIO.URL&gt;/store/{{ api_key }}</pre>

          <p>Your request body will contain the following application/json entity:</p>
          <pre>
            {
              "field_1": 123.4,
              "field_2": 443,
              "field_3": "60.123,40.567"
            }
          </pre>
          <p>Your request need not contain all the fields' values. You can selectively send specific fields. Location fields should be a "latitude,longitude" string.</p> 
        </div> 

      </div>

{% endblock %}